name: build-ios-app

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
            xcode-version: 'latest-stable'
      
      - name: List available simulator runtimes (for debugging)
        run: xcrun simctl list runtimes
        
      - name: Set up ruby env
        uses: ruby/setup-ruby@v1.269.0
        with:
          ruby-version: 3.3
          bundler-cache: true

      - name: Generate MATCH_GIT_BASIC_AUTHORIZATION
        run: |
          echo -n "NikDyr:${GH_PAT}" | base64 > base64.txt
          echo "MATCH_GIT_BASIC_AUTHORIZATION=$(cat base64.txt)" >> $GITHUB_ENV
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

      - name: Build & upload iOS binary
        run: bundle exec fastlane ios build_upload_testflight
        env:
          ASC_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
          ASC_KEY: ${{ secrets.APPSTORE_P8 }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ env.MATCH_GIT_BASIC_AUTHORIZATION }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          TEAM_ID: ${{ vars.APPLE_TEAM_ID }}
          BUNDLE_IDENTIFIER: ${{ vars.BUNDLE_IDENTIFIER }}
          MATCH_GIT_URL: ${{ vars.MATCH_GIT_URL }}
          LAST_UPLOADED_BUILD_NUMBER: ${{ vars.LAST_UPLOADED_BUILD_NUMBER }}
          XC_TARGET_NAME: ${{ vars.XC_TARGET_NAME }}